<h1>Ivan the Terrible's Blog</h1>

<section>
  <div class="blog">

      <%= will_paginate %>

    <% @posts.each do |post| %>
      <section class="post">
        <h2>Post <%= "#{post.id}: #{post.title}" %></h2>
        <div class="post"><%= post.body %></div>
        <%= render 'post_nav', post: post %>
        <% post.comments.each do |comment| %>
          <div class="comment">
            <h3>Comment <%= comment.id %>:</h3>
            <p><%= comment.body %></p>
            <div class="reply">
              <% comment.replies.each do |reply| %>
                <h4>Reply <%= reply.id %>:</h4>
                <p><%= reply.body %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </section>
    <% end %>

      <%= will_paginate %>
  </div>
</section>

<br />

<%= link_to 'New Post', new_post_path %>
